@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Baloo+Bhaina+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#act-1{
    font-family: 'Baloo Bhaijaan 2', cursive;
    /* font-family: pt sans,sans-serif; */
}
#act-2{
    margin: auto;
}
#act-2 a{
    font-size: 20px;
    margin-right: 12px;
    transition:
    transform 250ms ease;

}
#act-2 li a:hover{
    opacity: 1;
    transform: scale(1.187);
    /* font-size: 18px; */
    color: rgb(31, 125, 248);
    
}
/* Main Content  */
.row{
    margin-top: 20px;
}
.act-4{
    width: max-content;
    margin: 25px auto;
}
.col{
    padding: 0px 30px;
    border: 1px solid rgb(206, 201, 201);
    background-color: rgb(176, 250, 250);
    height: 2500px;
    width: 990px;
    border-radius: 12px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.head-1{
    text-align: center;
}
.Namee{
    font-family: 'PT Sans', sans-serif;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(40, 125, 252);

}
.jump-1{
    margin-top: 15px;

}
#jump-2{
    margin-top: -20px;
    font-size: 19px;
}
.read-1{
    text-align: left;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.3;
    color: rgb(49, 48, 48);
}
.img-1{
    cursor: pointer;
    border-radius: 12px;
    height: 500px;
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.keypoints{
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
.Namee-2{
    margin-left: 20px;
    font-weight: bold;
}
.content-1{
    text-align: left;
    font-size: 18px;
}
.cd-1{
    color: rgba(44, 43, 43, 0.863);
}
#run{
    text-align: center;
}
#run-1{
    height: 280px;
}

@media (max-width: 575.98px) { 
    #act-1{

        background: rgb(63,68,69);
        background: linear-gradient(18deg, rgba(63,68,69,0.9900911048012955) 15%, rgba(62,61,61,0.9900911048012955) 43%, rgba(9,9,9,1) 96%);
    }
    #act-2{
        text-align:  center;
        transition: transform 250ms ease;
    }
    #act-2 li a:hover{
        transform: scale(1.187);
        color: rgb(31, 234, 248);
        
    }
    
    #act-3 a{
        color: rgb(41, 156, 250);
        transition: all 0.2s ease-in 0.3s;
    }
    #act-1 a:hover{
        color: rgb(55, 255, 205);

    }
    .col{
        margin: 5px 10px;
        padding: 4px;
        height: 2200px;
        width: 330px;
        background-color: rgb(103, 255, 192);
    }
    .head-1{
        text-align: center;
        margin-top: 5px;
        font-weight: bold;
    }
    .read-1{
        text-align: left;
        font-size: 17px;
        padding: 5px 10px;
        line-height: 1.2;
        color: rgb(10, 10, 10);
    }
    #jump-2{
        display: none;
    }
    .Namee{
       display: block;
    }
    .img-1{
        cursor: pointer;
        height: 300px;
        border-radius: 12px;
        width: 240px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    .content-1{
        text-align: left;
        padding: 0px 15px;
        font-size: 18px;
    }
    

 }


